<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='ls_style.css') }}" />
  <title>Login / Signup</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form method="post" class="sign-in-form">
          <h2 class="title">Admin Log IN</h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="a_username" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="a_password" placeholder="Password" />
          </div>
          <input type="submit" name="submit" class="btn solid" value="admin_log_in" />




        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Not Admin ?</h3>
          <p>
            <!-- sample test -->
          </p>
          <a href="/login_or_sign_up" class="btn transparent btn-primary">Sign up as user</a>
        </div>
        <img src="img/log.svg" class="image" alt="" />
      </div>

    </div>
  </div>


  <script src="{{ url_for('static', filename='ls_app.js') }}"></script>
</body>

</html>